<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="com.zzm.applications.service.mapper.DepartmentMapper">

    <sql id="OR">OR</sql>
    <sql id="AND"> AND </sql>
    <sql id="IN">IN</sql>

    <select id="getDepartmentByZipCode" resultType="Department">
        SELECT * FROM DEPARTMENT_LIST WHERE ZIP_CODE = #{zipCode}
    </select>
    
    <select id="getAllDepartments" resultType="Department">
        SELECT * FROM DEPARTMENT_LIST
    </select>
    

    <!--DELETE FROM DEPARTMENT_LIST WHERE ZIP_CODE = #{zip_code}-->
    <!--INSERT INTO DEPARTMENT_LIST(ZIP_CODE,DISTRICT,ADDRESS,CITY)VALUES(#{zip_code},#{district},#{address},#{city})-->
    <!--UPDATE DEPARTMENT_LIST SET DISTRICT =#{district}, ADDRESS=#{address},, CITY=#{city} WHERE ZIP_CODE = #{zip_code}-->

</mapper>
