<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zzm.applications.service.mapper.LoginMapper">

    <parameterMap type="java.util.Map" id="verifyResult">
        <parameter property="username" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="email" jdbcType="VARCHAR" mode="IN"/>
        <parameter property="password" jdbcType="VARCHAR" mode="OUT"/>
    </parameterMap>
    <select id="verifyLogin" parameterMap="verifyResult" statementType="CALLABLE" resultType="String">
            {
                call USER_INFO_MANAGER_PKG.PRO_VERIFY_USER_LOGIN(
                    #{username,mode=IN,jdbcType=VARCHAR,javaType=String},
                    #{email,mode=IN,jdbcType=VARCHAR,javaType=String},
                    #{password,mode=OUT,jdbcType=VARCHAR,javaType=String}
                )
            }
    </select>

<!--    <select id="callGetTotalCity" parameterType="Param" statementType="CALLABLE">-->
<!--            { CALL getTotalCity(#{total, mode=OUT, jdbcType=INTEGER})}-->
<!--    </select>-->

<!--    <update id="callGetTotalCity2" parameterMap="testParameterMap" statementType="CALLABLE">-->
<!--            { CALL getTotalCity(?) }-->
<!--    </update>-->




</mapper>
